body {
	font: 14px Arial, sans-serif;
	margin: 0px;
}

.header {
	padding: 10px 20px;
	background: #acb3b9;
	color: #204a87
}

.header h1 {
	font-size: 24px;
}

.container {
	width: 100%;
	background: #f2f2f2;
}

.nav, .section {
	float: left;
	padding: 20px;
	height: 840px;
	box-sizing: border-box;
	overflow: auto;
}

.nav {
	width: 20%;
	border-right: 1px solid #999999;
}

.section {
	width: 80%;
}

.nav ul {
	list-style: none;
	line-height: 30px;
	padding: 0px;
}

.nav ul li {
	border-bottom: 1px solid #555753;
}

.nav ul li:hover {
	background-color: #729fcf;
}

.nav ul li a {
	color: #888a85;
	text-decoration: none;
}

.nav ul li a:hover {
	color: #ffffff;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.footer {
	background: #acb3b9;
	text-align: center;
	padding: 10px;
	color: #204a87
}