.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
	align-items: stretch;
}

.grid>article {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid>article img {
	max-width: 100%;
}

.text {
	padding: 0 20px 20px;
}

.text>button {
	background: #729fcf;
	border: 0;
	color: white;
	padding: 10px;
	width: 100%;
}

.imgContainer {
	height: 150px;
	width: 200px;
	margin: auto;
	text-align: center;
	padding-top: 10px;
}

.img {
	display: inline-block;
	vertical-align: middle;
}