.table {
	display: table;
	width: 100%;
}

.tableRow {
	display: table-row;
}

.tableCell {
	display: table-cell;
	padding: 9px 10px;
	border: 1px solid #a7acbf;
	color: #555753;
	font-family: sans-serif;
}

.tableHead {
	display: table-cell;
	padding: 3px 10px;
	border: 1px solid #204a87;
	background-color: #729fcf;
	height: 30px;
	vertical-align: middle;
	color: #eeeeec
}

.tableHeading {
	display: table-header-group;
	background-color: #729fcf;
	font-weight: bold;
}

.tableFoot {
	display: table-footer-group;
	font-weight: bold;
	background-color: #ddd;
}

.tableBody {
	display: table-row-group;
}
